h1 {
	font-family: "Playfair Display", serif;
	font-weight: bold;
	padding: 15px 10px 10px 10px;
	text-decoration: underline;
	text-decoration-color: #95DBD0;
}

.description {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	padding: 10px 10px 10px 10px;
	font-size: 18px;
	width: 85%;
}

.headline {
	font-family: "Playfair Display", serif;
	font-weight: bold;
	padding: 15px 10px 10px 10px;
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #95DBD0;
}

.active a {
	color: lightgray;
}

a:hover {
	color: lightgray;
}

.content {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	padding: 10px 10px 10px 10px;
	font-size: 18px;
	float: left;
	width: 70%;
}

.navbar-custom {
	background-color: #537598;
}

.nav-link {
	color: white;
}

.bluebox {
	background-color: #537598;
	padding-bottom: 1450px;
	border-top: 10px solid white;
	color: white;
	margin-left: 10px;
}

.bluebox img {
	padding-top: 50px;
	padding-left: 35px;
	width: 85%;
}

.subhead {
	font-family: "Playfair Display", serif;
	font-weight: 500;
	font-size: 20px;
	color: #95DBD0;
	margin-bottom: 0;
}

.detail {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-size: 15px;
}

h2 {
	font-family: "Playfair Display", serif;
	font-weight: 700;
	padding-bottom: 20px;
	font-size: 32px;
}

.icon {
	width: 60px;
	padding-top: 0;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 20px;
	padding-bottom: 10px;
}

.social-link {
	color: white;
	text-decoration: underline;
	text-decoration-color: white;
}

.icon1 {
	padding-top: 220px;
}

.profile-image {
	width: 100%;
	padding-top: 10px;
}

.icon1,
.icon2,
.icon3 {
	padding-bottom: 10px;
}

.icon2 {
	padding-top: 535px;
	padding-left: 10px;
}

.icon3 {
	padding-top: 1230px;
	padding-left: 12px;
}

.vertical-line1 {
	height: 470px;
}

.vertical-line1,
.vertical-line2,
.vertical-line3 {
	border-left: 3px solid #95DBD0;
	position: absolute;
	margin-left: 25%;
}

.vertical-line2 {
	height: 1170px;
}

.vertical-line3 {
	height: 300px;
}

.resume-text p,
.list-text {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.linked-text {
	color: black;
	text-decoration: underline;
}

.logo1,
.logo5 {
	width: 85px;
	padding-left: 40px;
}

.logo2,
.logo4 {
	width: 115px;
}

.logo3 {
	width: 100px;
	padding-left: 30px;
	padding-top: 70px;
}

.logo1 {
	padding-top: 140px;
}

.logo2 {
	padding-top: 180px;
	padding-left: 20px;
}

.logo4 {
	padding-top: 42px;
	padding-left: 20px;
}

.logo5 {
	padding-top: 630px;
}

.logo6 {
	width: 120px;
	padding-left: 20px;
	padding-top: 120px;
}

.shift {
	padding-left: 10px;
}

.vertical-line4,
.vertical-line5 {
	border-left: 3px solid #95DBD0;
	position: absolute;
	margin-left: 50%
}

.vertical-line4 {
	height: 140px;
}

.vertical-line5 {
	height: 570px;
}

.ipad-image {
	display: none;
}

.timeline {
	white-space: nowrap;
	overflow-x: scroll;
	padding: 20px 90px 30px 90px;
	position: relative;
}

.entry {
	display: inline-block;
	vertical-align: top;
	background: #ff7875;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	position: relative;
	border-top: 4px solid black;
	border-radius: 3px;
	min-width: 110px;
	max-width: 410px;
}

.entry h1 {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}

.project-header h1 {
	font-size: 35px;
	text-decoration: none;
	text-align: center;
	padding-top: 30px;
}

.project-header img {
	margin-left: 320px;
	width: 55%;
	padding-top: 20px;
}

.poster {
	width: 50%;
}

.caption {
	margin-left: 155px;
}

.caption,
.head-caption {
	color: gray;
	padding-top: 10px;
	font-size: 12px;
}

.head-caption {
	margin-left: 320px;
}

.article p, 
.article h2 {
	margin-left: 320px;
	margin-right: 320px;
}

.article p,
.vertical {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-size: 15px;
}

.vertical p {
	margin-left: 320px;
}

.vertical .caption {
	margin-left: 0px;
	margin-right: 270px;
	padding-top: 20px;
}

.vertical img {
	width: 57%;
	padding-top: 10px;
}

hr {
	border-top: solid 2px #ff7875;
	width: 35%;
	margin-top: 35px;
	margin-bottom: 30px;
}

.twitter-tweet {
	margin-left: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.article a {
	color: #537598;
	font-weight: bold;
}

.data {
	padding: 30px 100px 30px 100px;
}

.data2 {
	padding: 30px 150px 30px 150px;
}

.deck {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-size: 19px;
	text-align: center;
}

.photography {
	width: 55%;
	margin-left: 320px;
}

@media (min-width: 1200px) {
	.logo2 {
		padding-right: 5px;
	}
	.logo6 {
		padding-right: 10px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	img {
		width: 240px;
		padding-top: 25px;
	}
	.content {
		width: 100%;
	}
	.logo1,
	.logo5 {
		width: 75px;
		padding-left: 25px;
	}
	.logo2,
	.logo4 {
		width: 90px;
		padding-left: 10px;
	}
	.logo3 {
		width: 85px;
		padding-left: 10px;
		padding-top: 70px;
	}
	.logo6 {
		width: 90px;
		padding-left: 10px;
		padding-top: 115px;
	}
	.headline {
		font-size: 25px;
	}
	.icon1,
	.icon3 {
		width: 65px;
	}
	.icon1 {
		padding-top: 250px;
	}
	.vertical-line1 {
		height: 500px;
	}
	.icon2 {
		width: 55px;
		padding-top: 550px;
		padding-left: 0px;
	}
	.icon3 {
		padding-top: 1320px;
		padding-left: 5px;
	}
	.vertical-line2 {
		height: 1260px;
	}
	.vertical-line3 {
		height: 320px;
	}
	.bluebox {
		padding-bottom: 1700px;
	}
	.project-header img {
		margin-left: 40px;
		width: 90%;
	}
	.project-header h1 {
		font-size: 40px;
		margin-left: 50px;
		margin-right: 100px;
	}
	.deck {
		font-size: 24px;
	}
	.article p,
	.article h2 {
		margin-left: 230px;
		margin-right: 230px;
	}
	.article h2 {
		font-size: 30px;
	}
	.caption {
		margin-left: 15px;
		margin-right: 15px;
	}
	.timeline {
		padding-left: 40px;
		padding-right: 80px;
	}
	.twitter-tweet {
		margin-left: 250px;
		margin-right: 20px;
	}
	.photography {
		margin-left: 100px;
		width: 80%;
	}
	hr {
		width: 40%;
	}
	.vertical p {
		margin-left: 230px;
		width: 100%;
	}
	.vertical img {
		width: 85%;
	}
	.article p {
		font-size: 17px;
	}
	.data {
		padding: 10px 70px 10px 50px;
	}
	.data2 {
		padding: 10px 50px 10px 50px;
	}
	.head-caption {
		margin-left: 40px;
		margin-right: 20px;
	}
	.head-caption,
	.caption {
		font-size: 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.profile-image {
		display: none;
	}
	.content {
		width: 60%;
		font-size: 16px;
	}
	.ipad-image {
		display: block;
		width: 240px;
		padding-right: 30px;
	}
	.resume-text p {
		font-size: 13px;
	}
	.logo1,
	.logo5 {
		width: 62px;
		padding-left: 15px;
	}
	.logo1 {
		padding-top: 130px;
	}
	.logo2,
	.logo4 {
		width: 70px;
		padding-left: 5px;
	}
	.logo2 {
		padding-top: 170px;
	}
	.logo3 {
		width: 75px;
		padding-left: 5px;
		padding-top: 70px;
	}
	.logo6 {
		width: 70px;
		padding-left: 10px;
		padding-top: 115px;
	}
	.vertical-line5 {
		height: 540px;
	}
	.logo5 {
		padding-top: 590px;
	}
	.headline {
		font-size: 15px;
	}
	.bluebox img {
		padding-left: 15px;
	}
	.subhead {
		font-size: 13px;
	}
	.detail {
		font-size: 10px;
	}
	.description {
		font-size: 15px;
	}
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}
	.bluebox {
		padding-bottom: 2000px;
	}
	.icon1,
	.icon3 {
		width: 45px;
	}
	.icon1 {
		padding-top: 220px;
	}
	.vertical-line1 {
		height: 500px;
	}
	.icon2 {
		width: 62px;
		padding-top: 565px;
		padding-right: 15px;
	}
	.icon3 {
		padding-top: 1450px;
		padding-left: 5px;
	}
	.vertical-line2 {
		height: 1350px;
	}
	.vertical-line3 {
		height: 370px;
	}
	.project-header img {
		margin-left: 30px;
		width: 90%;
	}
	.project-header h1 {
		font-size: 33px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.deck {
		font-size: 19px;
	}
	.article p,
	.article h2 {
		margin-left: 130px;
		margin-right: 120px;
	}
	.article h2 {
		font-size: 23px;
	}
	.caption {
		margin-left: 15px;
		margin-right: 15px;
	}
	.timeline {
		padding-left: 40px;
		padding-right: 40px;
	}
	.entry {
		font-size: 12px;
		border-top: 3px solid black;
	}
	.twitter-tweet {
		margin-left: 115px;
		margin-right: 20px;
	}
	.photography {
		margin-left: 50px;
		width: 85%;
	}
	hr {
		width: 35%;
	}
	.vertical p {
		margin-left: 130px;
		width: 100%;
	}
	.vertical img,
	.vertical .caption {
		display: none;
	}
	.vertical img {
		width: 85%;
	}
	.article p {
		font-size: 15px;
	}
	.data {
		padding: 10px 50px 10px 50px;
	}
	.data2 {
		padding: 10px 50px 10px 50px;
	}
	.head-caption {
		margin-left: 30px;
		margin-right: 20px;
	}
}

@media (max-width: 767px) {
	.profile-image {
		display: none;
	}
	.content {
		width: 90%;
		font-size: 14px;
	}
	.ipad-image {
		display: block;
		width: 270px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.logo1,
	.logo2,
	.logo3,
	.logo4,
	.logo5,
	.logo6 {
		display: none;
	}
	.vertical-line4,
	.vertical-line5 {
		display: none;
	}
	.resume-text p,
	.list-text {
		font-size: 11px;
	}
	h2 {
		font-size: 25px;
	}
	h3 {
		font-size: 18px;
	}
	h1 {
		font-size: 33px;
	}
	.bluebox {
		padding-bottom: 50px;
	}
	.icon1,
	.icon2,
	.icon3,
	.vertical-line1,
	.vertical-line2,
	.vertical-line3 {
		display: none;
	}
	.description {
		width: 100%;
		font-size: 15px;
	}
	.container .resume-text {
		padding-left: 10px;
	}
	.headline {
		display: none;
	}
	.project-header img {
		margin-left: 20px;
		width: 90%;
	}
	.project-header h1 {
		font-size: 28px;
	}
	.deck {
		font-size: 16px;
	}
	.article p,
	.article h2 {
		margin-left: 20px;
		margin-right: 20px;
	}
	.article h2 {
		font-size: 21px;
	}
	.caption {
		margin-left: 8px;
		margin-right: 15px;
	}
	.head-caption {
		margin-left: 20px;
		margin-right: 10px;
	}
	.timeline {
		padding-left: 20px;
		padding-right: 20px;
	}
	.entry {
		font-size: 10px;
		border-top: 3px solid black;
	}
	.twitter-tweet {
		margin-left: 20px;
		margin-right: 20px;
	}
	.photography {
		margin-left: 20px;
		width: 90%;
	}
	hr {
		width: 40%;
	}
	.vertical p {
		margin-left: 20px;
		margin-right: 20px;
	}
	.vertical img,
	.vertical .caption {
		margin-left: 20px;
		margin-right: 30px;
	}
	.vertical img {
		width: 85%;
	}
	.article p {
		font-size: 13px;
	}
	.data {
		padding: 10px 20px 10px 20px;
	}
	.data2 {
		padding: 10px 20px 10px 20px;
	}
}